@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    /* ... (andere shadcn/ui variabelen) ... */
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    /* ... (en de rest van je dark mode variabelen) ... */
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}